* {
  font-family: Roboto, Arial, sans-serif;
  margin: auto;
}

.platz {
	position: absolute;
	/* border: solid; */
	/* border-width: 1px; */
	/* border-color: cyan; */
	height: 100px;
	background-color: rgb(0,100,200);
	width: 100px;
}

.LR1 {
	position: absolute;
	top: 200px;
	left: 20px;
	right: 500px;
	/* border: solid; */
	/* border-color: orange; */
	height: 100px;
}

.PR {
	position: absolute;
	top: 350px;
	left: 20px;
	right: 500px;
	/* border: solid; */
	/* border-color: orange; */
	height: 100px;
}

.LR2 {
	position: absolute;
	top: 500px;
	left: 20px;
	right: 500px;
	/* border: solid; */
	/* border-color: orange; */
	height: 100px;
}

.Leinwand {
	position: absolute;
	font-size: 30px;
	top: 50px;
	left: 100px;
	right: 575px;
	text-align: center;
	border-top: solid;
	border-radius: 90px;
	border-width: 5px;
	border-color: black;
}

.Reservierung {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: 50px;
	/* border: solid; */
	/* border-width: 1px; */
	/* border-color: purple; */
}

.vorstellung {
	position: relative;
	top: 5px;
	left: 50px;
	width: 1400px;
	height: 231.5px;
	/* border: solid; */
	/* border-width: 1px; */
	/* border-color: purple; */
}

#btn {
	position: absolute;
	bottom: 50px;
	right: 300px;
	height: 35px;
	width: 100px;
}

#tvorstellung{
	position: absolute;
	border: solid;
	border-color: black;
	color: red;
	background-color: cyan;
	border-width: 1px;
	top: 50px;
	width: 150px;
	height: 100px;
	text-align: center;
}

#startseite {
  display: left;
  padding: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
}

#covers {
	position: absolute;
	width: 150px;
	height: 225px;
	left: 5px;
}